- @recipes.each do |recipe|
	- ingredients = get_recipe_attr(recipe["RecipeName"], "Ingredients")
	- directions = get_recipe_attr(recipe["RecipeName"], "Directions")
	= render 'shared/show', :recipe => recipe, :ingredients => ingredients, :directions => directions

- @recipes.each do |recipe|
	- ingredients = get_recipe_attr(recipe["RecipeName"], "Ingredients")
	= render 'shared/ingredients', :recipe => recipe, :ingredients => ingredients

- @recipes.each do |recipe|
	- directions = get_recipe_attr(recipe["RecipeName"], "Directions")
	= render 'shared/directions', :recipe => recipe, :directions => directions

= render 'shared/new'

%div{:class => "index_page"}
	%h1 Recipe Assistant
	= text_field :recipe, :search, :placeholder => "Search", :class => "search_bar"
	%br
	%div{:class => "all_recipes"}
		- @recipes.each do |recipe|
			= render 'shared/recipe', :recipe => recipe
	%br
	= link_to image_tag("add.jpg", :class => "add_button"), "#", :class => "link new_link", :data => {:id => "", :page => "new"}
	%br