- r_name = recipe["RecipeName"].parameterize.underscore
%div{:class => "ingredients_pages", :id => "ingredients_#{r_name}"}
	%div{:class => "ingredients_images"}
		- if !recipe["Image_URL"].nil?
			= image_tag(recipe["Image_URL"], :class => "ing_image")
		- else
			= image_tag("food.png", :class => "ing_image")
	%h2{:class => "indiv_pages_header"} Ingredients for #{recipe["RecipeName"]}
	%div{:class => "list_ing"}
		- ingredients.each do |i|
			= simple_format(i["Ingredients"])
			%br