- r_name = recipe["RecipeName"].parameterize.underscore
%div{:class => "pages ingredients_pages", :id => "ingredients_#{r_name}"}
	%br
	%div{:class => "ingredients_images"}
		- if !recipe["Image_URL"].nil?
			= image_tag(recipe["Image_URL"], :class => "ing_image")
		- else
			= image_tag("food.png", :class => "ing_image")
	%h2{:class => "indiv_pages_header"} Ingredients for #{recipe["RecipeName"]}
	%div{:class => "list_ing"}
		- ingredients.each do |i|
			- ingredients = "\n" + i["Ingredients"]
			- ingredients = ingredients.gsub( / *\n+/, "\n- " )
			= simple_format(ingredients)
			%br
	%br
	%br
	%br
	%br
	%br
	%br
	%br
	%br
	%br
	%br
	%div{:class => "back_div"}
		= link_to image_tag("back.png"), "#", :class => "back"