- r_name = recipe["RecipeName"].parameterize.underscore
%div{:class => "dish"}
	%div{:class => "image_box"}
		- if !recipe["Image_URL"].nil?
			= image_tag(recipe["Image_URL"], :class => "recipe_image")
		- else
			= image_tag("food.png", :class => "recipe_image_generic")
	%div{:class => "name_box"}
		= link_to recipe["RecipeName"], "#", :class => "link recipe_name", :data => {:id => r_name, :page => "recipe"}
	%div{:class => "ingredients_box"}
		= link_to "Ingredients", "#", :class => "link ingredients_link", :data => {:id => r_name, :page => "ingredients"}
	%div{:class => "directions_box"}
		= link_to "Directions", "#", :class => "link directions_link", :data => {:id => r_name, :page => "directions"}