- r_name = recipe["RecipeName"].parameterize.underscore
%div{:class => "recipe_pages", :id => "recipe_#{r_name}"}
	%h1= recipe["RecipeName"]
	%br
	%div{:class => "food_wrap"}
		%div{:class => "recipe_page_images"}
			- if !recipe["Image_URL"].nil?
				= image_tag(recipe["Image_URL"], :class => "recipe_page_image")
			- else
				= image_tag("food.png", :class => "recipe_page_gen")
		%br
		%div{:class => "recipe_page_ingredients"}
			%h2 Ingredients
			%div{:class => "list"}
				- ingredients.each do |i|
					= simple_format(i["Ingredients"])
					%br
					%br
	%br
	%br
	%div{:class => "recipe_page_directions"}
		%h2 Directions
		%div{:class => "list", :id => "list_directions"}
			- directions.each do |d|
				= simple_format(d["Directions"])
				%br