- r_name = recipe["RecipeName"].parameterize.underscore
%div{:class => "pages recipe_pages", :id => "recipe_#{r_name}"}
	%br
	= text_field :recipe, :search, :placeholder => "Search", :class => "search_bar"
	%br
	%h1= recipe["RecipeName"]
	%br
	%div{:class => "food_wrap"}
		%div{:class => "recipe_page_images"}
			- if !recipe["Image_URL"].nil?
				= image_tag(recipe["Image_URL"], :class => "recipe_page_image")
			- else
				= image_tag("food.png", :class => "recipe_page_gen")
		%div{:class => "recipe_page_ingredients"}
			%h2{:class => "secondary_header"} Ingredients
			%div{:class => "list"}
				- ingredients.each do |i|
					/- ingredients = "\n" + i["Ingredients"]
					/- ingredients = ingredients.gsub( / *\n+/, "\n- " )
					= simple_format(i["Ingredients"])
	%br
	%div{:class => "recipe_page_directions"}
		%h2{:class => "secondary_header"} Directions
		%div{:class => "list", :id => "list_directions"}
			- directions.each do |d|
				/- directions = "\n" + d["Directions"]
				/- directions = directions.gsub( / *\n+/, "\n- " )
				= simple_format(d["Directions"])
	%br
	%br
	%br
	%br
	%br
	%br
	%br
	%div{:class => "back_div"}
		= link_to image_tag("back.png"), "#", :class => "back"
	